.flex-row-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-row-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-row-start-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.flex-row-end-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.m-8 {
  margin: 8px;
}
.m-16 {
  margin: 16px;
}
.m-t-8 {
  margin-top: 8px;
}
.m-r-8 {
  margin-right: 8px;
}
.m-b-8 {
  margin-bottom: 8px;
}
.m-l-8 {
  margin-left: 8px;
}

.m-t-16 {
  margin-top: 16px;
}
.m-r-16 {
  margin-right: 16px;
}
.m-b-16 {
  margin-bottom: 16px;
}
.m-l-16 {
  margin-left: 16px;
}

.p-8 {
  padding: 8px;
}
.p-16 {
  padding: 16px;
}
.p-t-8 {
  padding-top: 8px;
}
.p-r-8 {
  padding-right: 8px;
}
.p-b-8 {
  padding-bottom: 8px;
}
.p-l-8 {
  padding-left: 8px;
}
.p-t-16 {
  padding-top: 16px;
}
.p-r-16 {
  padding-right: 16px;
}
.p-b-16 {
  padding-bottom: 16px;
}
.p-l-16 {
  padding-left: 16px;
}
